.navigator {
  width: 300px;
  text-align: center;
  float: left;
}

#container {
  padding: 25px;
  clear:left;
}

#overlay {
  background-color: gray;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}